@import url('https://fonts.googleapis.com/css?family=Amatic+SC:400,700|Amiri:400,400i,700,700i|Kaushan+Script|Lato:100,100i,300,300i,400,400i,700,700i,900,900i|Manjari:100,400,700&display=swap&subset=arabic,cyrillic,hebrew,latin-ext,malayalam,vietnamese');

html {
  font-size: 18px;
}

header {
    background-color: #FFF;
}

nav {
    background-color: #1F3140;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    width: 100%;
}

nav a {
    background-color: #1F3140;
    color: #FFF;
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 2%;
    width: 16%;
    float: left;
    height: 2em;
}

nav a:hover {
    background: #FFF;
    color: #1F3140;
}

h1{
  text-align: center;
  font-size: 3em;
  padding: .2em;
  color: #1F3140;
  font-family: 'Kaushan Script', cursive;
  font-weight: 900;
}

h2{
  color: #1F3140;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.4em;
}

h3{
  color: #1F3140;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.2em;
}

body {
  background: #FFF;
  color: #636361;
  font-family: 'Amiri', serif;
  font-weight: 400;
  font-size: 1em;
}

a {
  color: #636361;
  text-decoration: underline;
}

ul{
  text-align: center;
  list-style-type:none
}

ol {
  list-style-type: none;
}

li {
  padding: 1em;
}

section {

}

div {

}

footer {
    background-color: #OOO;
    text-align: center;
    padding: 2em;
}

img { 
  width:  80%;
  height: auto;
  margin: auto;
} 

img:hover { 

}

input[type=text], select, textarea {
  color: #1F3140;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 1em;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  padding: 1.2em;
  border: none;
  border-radius: .4em;
  box-sizing: border-box;
  margin-top: .5em;
  margin-bottom: 1.2em;
}

input[type=submit] {
  background-color: #D93B18;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: white;
  padding: .8em 1.2em;
  border: none;
  border-radius: .4em;
  cursor: pointer;
}

input[type=submit]:hover {
background: #FFF;
    color: #D93B18;
}

.wrapper {
  background: #FFF;
}

.mediagallery {
  width: 100%;
  margin: auto;
}

.galleryimg{
  float: left;
  width: 22%;
  padding: 1.5%;
  margin: auto;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  color: #29484D;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  font-size: 18px;
}

.picture {
}

.articleimg {
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.button {
  background-color: #D93B18;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: white;
  padding: .8em 1.2em;
  border: none;
  border-radius: .4em;
  text-decoration: none;
}

.button:hover{
background: #FFF;
    color: #D93B18;
}

.nav .icon {
  display: none;
}

#slogan {
  color: #29484D;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  font-size: 1em;
}

#two_column {
  width: 100%;
}

#left {
  float: left;
  width: 48%;
  padding: 1%;
  margin: auto;
  text-align: center;
}

#right {
  float: right;
  width: 48%;
  margin: auto;
  padding: 1%;
  text-align: center;
}

#aboutimg {
  max-width: 400px;
  margin: auto;
}

#hiddenbutton {
  display: none;
  text-align: center;
  padding: 1em;
}

#fullresume {
}

#mobileresume{
  display: none;
}

#hidemobile {

}

@media only screen and (max-width: 600px){
  header {
    background-image: url("../images/IMG_1624.JPEG");
    opacity: .75;
    background-color: #000;
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  h1{
    text-align: center;
    padding-top: .5em;
    color: white;
  }

  nav {
    font-size: .8em;
  }

  nav a {
    background-color: #1F3140;
    color: #FFF;
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 2%;
    width: 46%;
    float: left;
    height: 2em;
}

  body {
    font-size: 22px;
  }

  ul {
    width: 80%;
    margin: auto;
    text-align: left;
  }

  .galleryimg {
    float: none;
    width: 100%;
  }

  #slogan {
    text-align: center;
    color: white;
  }
  #left {
    display: none;
  }
  #right {
    float: none;
    width: 80%;
    margin: auto;
  }
  #hiddenbutton{
    display: block;
  }

  #fullresume{
    width: 100%;
  }
  #hidemobile{
    display:none;
  }

}

@media only screen and (max-width: 480px) {

  #mobileresume{
    display: block;
    width: 100%;
  }
  #fullresume{
    display: none;
  }
  
}


